* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ccc;

        &:hover {
            background: #999;
        }
    }
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #4f7faf;
    display: flex;
    align-items: center;
    justify-content: center;
}

button,
a {
    all: unset;
    cursor: pointer;
}

.generation-form {
    width: 35%;
    height: 50%;
    padding: 1rem;
    border-radius: 5px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 1.5rem;
}

.ii {
    all: unset;
    width: 100px;
    transition: 300ms ease;
    border-radius: 5px;
    border: 2.5px solid rgb(0, 82, 126);
    cursor: text;

    &:focus {
        border-color: rgb(109, 184, 224)
    }

    &:disabled {
        background-color: rgba(255, 255, 255, 0.6);
        border-color: #ccc;
    }

}

.additional-roles-list {
    display: flex;
    flex-direction: column;

}

.start-generation-button {
    border: 2px solid #4f7faf;
    padding: .25rem .5rem;
    border-radius: 5px;
    transition: 300ms ease;

    &:hover {
        background-color: #4f7faf;
        color: white;
    }
}


.roles-list {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.role {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: beige;
    text-align: center;
    line-height: 300px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: transparent;

    &::selection {
        background-color: transparent;
    }
}